on early-init
    start ueventd

on init
    sysclktz 480
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    # for clockworkmod
    symlink /misc /etc
    symlink /sbin/busybox /sbin/sh

# create mountpoints
    mkdir /sdcard 0000 system system
    mkdir /sdcard1 0000 system system
    mkdir /emmc 0000 system system
    mkdir /preload
    mkdir /system
    mkdir /system2
    mkdir /data 0771 system system
    mkdir /cache 0770 system cache
    mkdir /efs 0771 radio system
    mkdir /tmp
    mkdir /dbdata
    mkdir /persist
    mkdir /mnt 0775 root root

on early-fs

    # rfs drivers
    insmod /lib/modules/rfs_glue.ko
    insmod /lib/modules/rfs_fat.ko

    # parameter block
    mkdir /mnt/.lfs 0755 root root
    insmod /lib/modules/j4fs.ko
    mount j4fs /dev/block/mmcblk0p4 /mnt/.lfs


on fs
    mount tmpfs tmpfs /tmp mode=0755    
    mount ext4 /dev/block/mmcblk0p9 /system wait rw
    mount ext4 /dev/block/mmcblk0p7 /cache nosuid nodev noatime wait rw
    mount ext4 /dev/block/mmcblk0p1 /efs nosuid nodev noatime wait 

    # verfiy filesystem (UMS)
    exec apply_system_policy /dev/block/mmcblk0p11 vfat

on post-fs

    #temp
    chmod 750 /sbin/fat.format

    write /proc/sys/kernel/panic_on_oops 1
    write /proc/sys/kernel/hung_task_timeout_secs 0
    write /proc/cpu/alignment 4
    write /proc/sys/kernel/sched_latency_ns 10000000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 2000000
    write /proc/sys/kernel/sched_compat_yield 1
    write /proc/sys/kernel/sched_child_runs_first 0


on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

service console /sbin/sh
    console

service adbd /sbin/adbd recovery

service recovery /sbin/script/recovery.sh

